# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
core

# Core's dependencies are managed with Composer.
vendor

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest

# Ignore core phpcs.xml and phpunit.xml.
core/phpcs.xml
core/phpunit.xml


.htaccess
.htaccess-subsite-map.txt
sites/sites.php
sites/*/
sites/all/settings.php
sites/default/settings.php
sites/settings.local.php

.buildpath
.project
.settings
.settings/*
.idea
.idea/*
.DS_Store

wdn

modules
profiles
themes

# Ignore Group menus by ignoring all menus then adding back in the core ones with !
config/sync/system.menu.*
!config/sync/system.menu.account.yml
!config/sync/system.menu.admin.yml
!config/sync/system.menu.footer.yml
!config/sync/system.menu.main.yml
!config/sync/system.menu.tools.yml
