{% extends "paragraph.html.twig" %}

{% block content %}
  <div class="wdn-inner-wrapper">
    <div class="wdn-grid-set">
      <div class="wdn-col-full bp960-wdn-col-four-fifths bp1280-wdn-col-three-fourths bp1600-wdn-col-two-thirds">
        {{ content }}
      </div>
    </div>
  </div>
{% endblock %}
