{% extends "paragraph.html.twig" %}

{% block content %}
  <div id="events-band"></div>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      WDN.initializePlugin('events-band', {url: '{{ content.field_events_link }}', limit: 6});
    });
  </script>
{% endblock %}
