#block-unl-five-singularity-local-tasks {
    position: absolute;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 43.69em) {
    #block-unl-five-singularity-local-tasks {
        position: initial;
        clear: left;
    }
}
