{% extends "block.html.twig" %}
{% block content %}
  <div id="wdn_navigation_wrapper">
    <nav id="navigation" role="navigation" aria-label="main navigation">
      <!-- InstanceBeginEditable name="navlinks" -->
      {{ content }}
      <!-- InstanceEndEditable -->
      {% include "/wdn/templates_4.1/includes/navigation-addons.html"%}
    </nav>
  </div>
{% endblock %}
