<div class="funding-ct--summary-section--contact-info-name">
        <span class="wdn-icon-user" aria-hidden="true"></span><span class="wdn-text-hidden">contact icon</span>
        <span class="summary-section--label wdn-sans-serif">{{ items[0] }}</span>
</div>

